body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.section {
  padding: 50px 20px;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.nav {
  background-color: #333;
  color: #fff;
  text-align: right; /* For nav bar location*/
  padding: 10px 0;
  position: fixed;
  width: 100%; /* Make navbar full width */
  top: 0;
  left: 0;
  z-index: 2; /* Ensure navbar appears above content */
}
.nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.nav a:hover {
  text-decoration: underline;
}
